/* 夜间模式颜色覆盖 */
.wot-theme-dark .text-label-primary {
  color: #ffffff;
}

.wot-theme-dark .text-label-secondary {
  color: #aeaeb2;
}

.wot-theme-dark .text-label-tertiary {
  color: #8e8e93;
}

.wot-theme-dark .text-label-disabled {
  color: #3a3a3c;
}

.wot-theme-dark .text-label-error {
  color: #ff453a;
}
