::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

/* #ifdef H5 */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* #endif */
