.border-bottom {
  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e4e4e4;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
  }

  &.dashed::after {
    border-bottom-style: dashed;
  }

  @media (-webkit-min-device-pixel-ratio: 3) {
    &::after {
      transform: scaleY(0.33);
    }
  }
}

.border-top {
  &::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e4e4e4;
    transform-origin: 0 0;
    transform: scaleY(0.5);
  }

  &.dashed::before {
    border-top-style: dashed;
  }

  @media (-webkit-min-device-pixel-ratio: 3) {
    &::before {
      transform: scaleY(0.33);
    }
  }
}
